.formBackgrpund {
  background-color: aliceblue;
  width: 80%;
  border-radius: 3px;
  margin: 10px auto 50px auto;
}

.titleEmployee {
  text-align: center;
  font-size: 15px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
