<section class="formBackgrpund">
  <h1 class="titleEmployee">Crear Empleado</h1>

  <form [formGroup]="formEmployee" class="example-container" (ngSubmit)="save($event)" novalidate>
    <mat-form-field>
      <input matInput placeholder="Escriba su nombre" formControlName="name">
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input matInput type="date" placeholder="Edad" formControlName="age">
    </mat-form-field>
    <p>{{formEmployee.get("age").errors | json }}</p>

    <mat-form-field>
      <input matInput type="date" placeholder="Contratación" formControlName="hiring">
    </mat-form-field>

    <mat-form-field>
      <mat-label>País</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let item of dataCountryAll" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nombre de usuario" formControlName="username">
    </mat-form-field>

    <div>
      <button type="button" routerLink="/">Volver</button> 
      <button type="submit">Guardar</button> 
    </div>
    
  </form>
</section>
