/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Helvetica Neue", sans-serif; 
    background-image: radial-gradient(rgb(189, 180, 180), rgb(69, 100, 104));
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
